.notificationsEmpty {
  font-style: italic;
  color: rgba(#333, 1);
  text-align: center;
  padding: 50px 0;
}

.notificationsEmptyMsg {
    margin-top: 20px;
    line-height: calc( 1em + 8px);
    text-align: center;
    
}

.notificationsEmptyImg {
  width: 50%;
  display: block;
  margin: 0 auto;
}
