.page-about {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  height: calc( 100vh - 60px );
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: currentColor;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
  }
  h2 {
    font-size: 1.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  img {
    width: 200px;
  }
  p {
    max-width: 50%;
    margin: 0 auto;
    @media screen and ( max-width: 800px ) {
      max-width: 90%;
    }
    &.credit {
      margin-top: 0.5em;
      font-size: 0.7em;
    }
  }
}
