.cardItem {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 0.75em;

  &:hover {
    background-color: darken(#fafafa, 8%);
    cursor: pointer;
  }
  &.cardItem-active {
    background-color: darken(#fafafa, 8%);
  }
  h3 {
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
  }
  div {
    font-weight: lighter;
    font-size: 0.9em;
  }
}
