.item {
  max-width: 95%;
  width: 600px;
  box-sizing: border-box;
  position: relative;
  padding-right: 40px;
  &:hover,
  &:focus-within {
    background-color: #eee;
    .cardActions {
      opacity: 1;
    }
  }
}

.itemLink {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: currentColor;
  &:hover {
    color: currentColor;
  }
}

.cardTitle {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.32;
}

.cardActions {
  padding: 0;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  align-items: flex-start;
  right: 0;
  top: 0;
  height: 100%;
  a,
  button {
    flex: 1 1 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid transparent;
    background-color: #fafafa;
    &:hover,
    &:focus {
      background-color: #eee;
      border-left: 1px solid #ccc;
    }
  }
  a {
    text-decoration: none;
    color: currentColor;
    &:hover {
      color: currentColor;
    }
  }
}
