.commentItem {
  width: 600px;
  box-sizing: border-box;
}

.memberInfo {
  display: flex;
  align-items: center;
}

.memberName {
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;

  padding-left: 8px;
}

.commentText {
  padding: 12px;
  box-sizing: border-box;
  background-color: #eee;
  margin-top: 8px;
}

.commentDate {
  font-size: 0.8em;
  margin-bottom: 8px;
  margin-top: 4px;
  text-align: right;
}
