.cta-login {
  padding: 50px 0;
  text-align: center;
  background-color: #ededed;
  h2 {
    margin: 0 0 10px 0;
    font-weight: normal;
    font-size: 1.5em;
  }
  .button-login {
    margin-top: 10px;
    display: inline-block;
  }
}