@import "~styles/global/colors";

.notification {
  background-color: $color-cloud;
  border: none;
  display: flex;
  padding: 10px;
  margin: 10px 0;
  &.read {
    opacity: 0.5;
    transition: opacity 100ms linear;
  }
  &.unread {
    opacity: 1;
  }
}

.hide {
  display: none;
}

.notificationText {
  padding: 10px;
  box-sizing: border-box;
  border-left: 8px solid orange;
  margin-top: 10px;
  background-color: $color-white;
}

.notificationActions {
  text-align: right;
  font-size: 0.8em;
  line-height: calc(0.8em + 8px);
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 50px;
  .notificationButtons {
    background-color: transparent;
    border: none;
    font-size: 1.25em;
  }
}

.notificationContent {
  flex: 1 1 100%;
  font-size: 0.9em;
  padding-top: 8px;
}

.entityName {
  font-weight: bold;
}

.avatarContainer {
  box-sizing: border-box;
  padding: 0px 10px 5px 5px;
}
