@import "~styles/global/colors";
@import "~styles/global/mixins";

.btn {
  @include fontSize(14);
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 12px 30px;
  margin: 0;
  text-decoration: none;
  @each $name, $color in $colors {
    &.#{$name} {
      background-color: nth($color, 1);
      color: nth($color, 2);
      &:hover {
        background-color: darken(nth($color, 1), 5%);
      }
    }
  }
}
