.user_avatar {
  border-radius: 50%;
  display: block;
  &.small {
    height: 30px;
    width: 30px;
  }
  &.medium {
    height: 50px;
    width: 50px;
  }
  &.large {
    height: 170px;
    width: 170px;
  }
  &_none {
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
