.app > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  .button-login {
    padding: 5px 10px;
    font-size: 0.8em;
  }
  h1 {
    margin: 0;
    font-weight: normal;
    a {
      text-decoration: none;
      color: currentColor;
    }
  }
}