h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fafafa;
  background-color: #333;
  box-sizing: border-box;
  padding: 5px;
  color: #333;
  a {
    color: #fafafa;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    &:hover {
      background-color: rgba(#fafafa, 0.3);
    }
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
